= form_for([:organization, @project]) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li
            = msg

  .field
    = f.label :name
    %br
    = f.text_field :name

  .field
    = f.label :description
    %br
    = f.text_field :description

  .field
    = f.label :start_date
    %br
    = f.date_select :start_date

  .field
    = f.label :end_date
    %br
    = f.date_select :end_date

  .project_attributes
    .h3 Which of the following are part of this project:
    - @profile_questions.each do |question|
      - answered = !@project.profile_answers.find_by_profile_question_id(question.id).nil?
      = check_box_tag "question_id[#{question.id}]", question.id, answered
      = label_tag question.short_display
      %br

  - if @attendees
    .attendees
      %br
      %b
        Attendees
      - if @attendees.length > 0
        - @attendees.each do |attendee|
          %p
            Email:
            = attendee.user.email
            = link_to "[approve]", :action => :accept_attendee, :user => attendee.user.id
            = link_to "[x]", :action => :destroy_attendee


  .actions
    = f.submit
