%h1 Your projects

%table
  %tr
    %th Name
    %th Description
    %th Start Date
    %th End Date
    %th
    %th

  - @projects.each do |project|
    %tr
      %td
        = project.name
      %td
        = project.description
      %td
        = project.start_date
      %td
        = project.end_date

      %td
        = link_to 'Edit', edit_organization_project_path(project)
      %td
        = link_to 'Destroy', organization_project_path(project), confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Project', new_organization_project_path
