.hero-unit
  %h1 Welcome to Helpa!
  %p Answer a few short questions and we can start suggesting projects you might like
  %br
  %p
    = link_to 'Update your profile »', profile_path, :class => 'btn primary large'

.row
  .span6
    %h2 Upcoming Projects
    - if @upcoming_attending_projects.length > 0
      - @upcoming_attending_projects.each do |project|
        %p
          = link_to project.name, project
          %br
          = "#{project.start_date} - #{project.attendees.find_by_user_id(current_user.id).accepted ? 'Accepted' : 'Awaiting acceptance'}"
    - else
      You don't have any upcoming projects - start browsing the project listing to find something to do

  .span5
    %h2 Suggested Projects
    - if @upcoming_suggestions.length > 0
      - @upcoming_suggestions.each do |suggested|
        %p
          = link_to suggested.project.name, suggested.project
          %br
          %b
            = "Compatibility: #{project_compatibility(suggested)}"
          %br
          = suggested.project.description
    - else
      %p No suggested projects yet. Please try updating your profile

  .span5
    %h2 Latest Projects
    - if @projects.length > 0
      - @projects.each do |project|
        %p
          = link_to project.name, project
          %br
          = project.description
    - else
      %p No projects have been added to Helpa yet
