<fieldset>
<legend><%= resource_name.to_s.titleize %> registration</legend>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class = "clearfix" ><%= f.label :name %><br />
    <div class = "input">
      <%= f.text_field :name, :class => 'xlinput' %></div></div>

  <div class = "clearfix" ><%= f.label :email %><br />
    <div class = "input">
      <%= f.email_field :email %></div></div>

  <div class = "clearfix" ><%= f.label :password %><br />
    <div class = "input">
      <%= f.password_field :password %></div></div>

  <div class = "clearfix" ><%= f.label :password_confirmation %><br />
    <div class = "input">
      <%= f.password_field :password_confirmation %></div></div>

  <div class="actions"><%= f.submit "Sign up", :class => 'btn primary' %></div>
<% end %>
</fieldset>
<%= render :partial => "devise/shared/links" %>
