#user_nav
  - if user_signed_in?
    Signed in as #{current_user.email}. Not you?
    = link_to "Sign out", destroy_user_session_path, :method => :delete
  - elsif organization_signed_in?
    Signed in as #{current_organization.email}. Not you?
    = link_to "Sign out", destroy_organization_session_path, :method => :delete
  - else

    =link_to "Non-profit organization?", new_organization_session_path
    | Volunteers:
    = link_to "Register", new_user_registration_path
    or
    = link_to "Login", new_user_session_path


