%h1 Update your profile

%p Accurately answering the following questions allows us to suggest projects which you are more likely to enjoy working on
%br

.span16.profile
  = form_tag do
    - @profile_questions.each do |question|
      %p
        - answer = ProfileAnswer.find_by_answerable_id_and_profile_question_id(current_user.id, question.id)
        - score = answer ? answer.score : 0
        = label_tag question.long_display
        = select_tag question.id, options_for_select([['No',-2],['Preferably Not',-1],['Indifferent',0],["I don't mind",1], ['Yes', 2] ] , score), :name => "question_id[#{question.id}]", :class => :slider
        %br
    = submit_tag "Submit", :class => 'btn primary'
