<!DOCTYPE html>
<html>
  <head>
    <title>Helpa</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">

          <a class="brand" href="/">Helpa</a>
            <%= render 'shared/main_nav'%>
          <p class="pull-right">
            <%= render 'shared/user_nav'%>
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <%= render 'shared/flashes'%>
      <%= yield %>
    </div>
  </body>
</html>
